<!DOCTYPE html>
<html lang="en">
  <head>
<script src="saketh.js" ></script>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
img {
  border-radius: 60%; width:40px:height:40px;
   }
</style>
<title>Saketh Sunkara A01</title>
<link rel="stylesheet" type="text/css" href="my.css">
</head>

<body>
<img src="2_n.jpg">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Saketh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/ageCalculator">Agecalculator</a>
      <a class="nav-item nav-link" href="/contact">Contact</a>
      
    </div>
  </div>
</nav>
