<% include header %>
<aside>
<main>
<header>
<h2> 07 - Sai Saketh Sunkara  - A01 ASSIGNMENT</h2>
</header>
<article class="article">
<section>
<h3>Present</h3>
<p id = "para1">I am here in northwest to do masters in applied computer science.</p>
<h3 section id="Past">My Past</h3>
<p id="para1">I am from Vijayawada,Andhra Pradesh,INDIA. I graduated in the year 2018 from KLU, Vijayawada.I have done a project on IOT in my final year, 
Which really boosted my interest towards Internet of things ,Database Administration and the latest technologies..</p>
<h3 section id="Future">Future Endeavours</h3>
<p id="para2">An internship or research opportunity that will allow me to utilize my problem solving skills and attention to
detail to further develop my abilities in the field of computer science.
</p>

<h3>MY contacts</h3>
<p style="color:red;">github:<a href="https://github.com/sakethSS">github link
<img src="github.jpg" altr="github" style="Width:42px;height:42px;border:0;">
</a></p>
<p style="color:red;">Bitbucket:<a href="https://bitbucket.org/sakethS/">Bitbucket link
<img src="bitbucket.png" altr="bitbucket" style="Width:42px;height:42px;border:0;">
</a></p>
<p style="color:red;">linkedin:<a href="https://www.linkedin.com/in/saketh-sunkara-9b445513a/">Linkedin link
<img src="linkdin.png" altr="linkedin" style="Width:42px;height:42px;border:0;">
</a></p>
</section>

</article>
</main>
<iframe width="560" height="315"  src="https://www.youtube.com/embed/2OcbJkQY-SA"
 frameborder="1px" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</aside>
<% include footer %>